/* mobile */

@media screen and (max-width: 600px){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'head head'
        'res input'
        'info info';
    }
    main > .resultGrid, main > .inputGrid {
        width: 46vw;
    }
}